extends layout

block content
  h2(style="text-align:center") Stockque stock || watch live changes across browsers
  #container
  div
    div.floatl
      input.inpu(placeholder="Fb")
      button.add.butt add
    
    div.floatr
  div(style="text-align:center; clear:both; text-decoration:none")
    a(href="http://freecodecamp.com/awalthefirst" style="text-align:center; clear:both; text-decoration:none") Fcc@awalthefirst

     