extends layout

block content
  #container
  div
    div.floatl
      input.inpu(placeholder="Fb")
      button.add.butt add
    
    div.floatr
      button.butt
        span xpp
        span=' (remove)'
     