doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="https://code.highcharts.com/stock/highstock.js")
    script(script src="https://code.highcharts.com/stock/modules/exporting.js")
    script(src="/javascripts/scripts.js")
